{% use "bootstrap_3_layout.html.twig" %}

{% block form_start -%}
    <div class="alert alert-success" role="alert" ng-show="response.success && response.message.length">[[ response.message ]]</div>
    <div class="alert alert-danger" role="alert" ng-show="!response.success && response.message.length">[[ response.message ]]</div>
    {{- parent() -}}
{%- endblock form_start %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="alert alert-danger" role="alert">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_row -%}
    {# Wrapper attributes #}
        {%- set wrap_attr = {class: (wrap_attr.class|default('') ~ ' form-group')|trim} -%}
        {% if attr['data-formName'] is defined %}
            {%- set wrap_attr = wrap_attr|merge({'ng-class': (wrap_attr['ng-class']|default('') ~ "{ 'has-error' : "~ attr['data-formName'] ~"."~ name ~".$invalid && !"~ attr['data-formName'] ~"."~ name ~".$pristine }")|trim}) -%}
        {% endif %}
    {# Wrapper attributes #}

    <div {{ block('wrapper_attributes') }}>

        {{- form_label(form) -}}

        {{ form_widget(form) }}
    </div>
{%- endblock form_row -%}

{# FORM WIDGET #}
{%- block form_widget -%}

    {# Placeholder #}
    {%- if attr['placeholder'] is not defined -%}
        {%- set attr = attr|merge({'placeholder': name|capitalize}) -%}
    {%- endif -%}
    {# Placeholder #}

    {{- parent() -}}

    {{ block('angular_input_errors') }}
{%- endblock form_widget -%}
{# / FORM WIDGET #}

{# TEXTAREA #}
{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}

    {# Placeholder #}
    {%- if attr['placeholder'] is not defined -%}
        {%- set attr = attr|merge({'placeholder': name|capitalize}) -%}
    {%- endif -%}
    {# Placeholder #}

    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

    {{ block('angular_input_errors') }}
{%- endblock textarea_widget -%}
{# / TEXTAREA #}

{# NUMBER WIDGET #}
{%- block number_widget -%}
    {%- set type = type|default('text') -%}

    {{ form_widget(form, {type: 'number'}) }}
{%- endblock number_widget -%}
{# / NUMBER WIDGET #}

{# INPUT ERRORS #}
{% block angular_input_errors %}
    {% if attr['data-formName'] is defined %}
        {% if required is defined %}
            <span ng-show="{{ attr['data-formName'] }}.{{ name }}.$error.required && !{{ attr['data-formName'] }}.{{ name }}.$pristine" class="help-block">{{ full_name|capitalize }} is required.</span>
        {% endif %}


        {% if attr['ng-maxlength'] is defined %}
            <span ng-show="{{ attr['data-formName'] }}.{{ name }}.$error.maxlength && !{{ attr['data-formName'] }}.{{ name }}.$pristine" class="help-block">Line length must not than be more than {{ attr['ng-maxlength'] }}</span>
        {% endif %}


        {% if attr['min'] is defined %}
            <span ng-show="{{ attr['data-formName'] }}.{{ name }}.$error.min && !{{ attr['data-formName'] }}.{{ name }}.$pristine" class="help-block">The minimum value must be greater than {{ attr['min'] }}.</span>
        {% endif %}
    {% endif %}
{% endblock %}
{# / INPUT ERRORS #}


{# WRAPPER ATTRIBUTES #}
{%- block wrapper_attributes -%}
    {%- for attrname, attrvalue in wrap_attr if 'readonly' != attrname or not read_only -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock wrapper_attributes -%}
{# / WRAPPER ATTRIBUTES #}