<div class="container">
    <div class="page-header">
        <h1>Add new record</h1>
    </div>

    {{ form_start(form, { 'method': 'POST', 'name': 'addRecordForm', 'attr': {'class': 'add-record-form', 'ng-controller': 'AddRecordController', 'ng-submit': 'AddRecord(record)', 'novalidate': 'novalidate'} }) }}

    <div class="alert alert-success" role="alert" ng-show="response.success && response.message.length">[[ response.message ]]</div>
    <div class="alert alert-danger" role="alert" ng-show="!response.success && response.message.length">[[ response.message ]]</div>
    {{ form_errors(form) }}

    {{ form_row(form.code, { 'attr': { 'ng-model': 'record.code', 'ng-maxlength': 10, 'data-formName': 'addRecordForm' } }) }}


    {{ form_row(form.name, { 'attr': { 'ng-model': 'record.name', 'ng-maxlength': 50, 'data-formName': 'addRecordForm' } }) }}

    {{ form_row(form.description, { 'attr': { 'ng-model': 'record.description', 'ng-maxlength': 255, 'data-formName': 'addRecordForm' } }) }}


    {{ form_row(form.stock, { 'attr': { 'ng-model': 'record.stock', 'min': 0, 'data-formName': 'addRecordForm' } }) }}


    {{ form_row(form.cost, { 'attr': { 'ng-model': 'record.cost', 'min': 0, 'data-formName': 'addRecordForm' } }) }}

    {{ form_widget(form.discontinued, { 'attr': { 'ng-model': 'record.discontinued', 'ng-model': 'record.discontinued' } }) }}

    {{ form_rest(form) }}

    <button ng-disabled="addRecordForm.$invalid" type="submit" class="btn btn-primary">Save</button>

    {{ form_end(form) }}
</div>