<div class="container">
    <div class="page-header">
        <h1>Import file</h1>
    </div>

    {{ form_start(form, { 'method': 'POST', 'name': 'importFileForm', 'attr': { 'ng-controller': 'ImportFileController', 'ng-submit': 'importProcess(file, truncate)', 'enctype': 'multipart/form-data'} }) }}

    <div class="alert alert-success" role="alert" ng-show="response.success && response.message.length">[[ response.message ]]</div>
    <div class="alert alert-danger" role="alert" ng-show="!response.success && response.message.length">[[ response.message ]]</div>

    <div class="alert alert-danger" role="alert" ng-show="response.errorLog.length">
        <p ng-repeat="error in response.errorLog track by $index">[[ error ]]</p>
    </div>

    {{ form_row(form.file, { 'attr': { 'ngf-select': true, 'ng-model': 'file', 'accept': '.csv' } }) }}

    {{ form_widget(form.truncate, { 'attr': { 'ng-model': 'truncate', 'ng-model': 'truncate' } }) }}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:[[ file.progress ]]%" ng-bind="file.progress + '%'">
            <span></span>
            <span>%</span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Import</button>

    {{ form_end(form) }}
</div>