<div class="container">
    <div class="page-header">
        <h1>Data Views</h1>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="title">Records</span>
            <div class="form-group pull-right">
                <input type="text" class="search form-control" ng-model="query" placeholder="Search...">
            </div>
            <div class="clearfix"></div>
        </div>
        {#<div class="panel-body"></div>#}

        <!-- Table -->
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th ng-click="sort('id')">ID <i ng-class="{'fa-sort': sortField == 'id'}" class="fa fa-fw"></i></th>
                <th ng-click="sort('code')">Product Code <i ng-class="{'fa-sort': sortField == 'code'}" class="fa fa-fw"></i></th>
                <th ng-click="sort('name')">Product Name <i ng-class="{'fa-sort': sortField == 'name'}" class="fa fa-fw"></i></th>
                <th ng-click="sort('description')">Product Description <i ng-class="{'fa-sort': sortField == 'description'}" class="fa fa-fw"></i></th>
                <th ng-click="sort('stock')">Stock <i ng-class="{'fa-sort': sortField == 'stock'}" class="fa fa-fw"></i></th>
                <th ng-click="sort('cost')">Cost in GBP <i ng-class="{'fa-sort': sortField == 'cost'}" class="fa fa-fw"></i></th>
                <th ng-click="sort('discontinued')">Discontinued <i ng-class="{'fa-sort': sortField == 'discontinued'}" class="fa fa-fw"></i></th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in filtered = ( records | filter:query ) | orderBy:sortField:reverse ">
                <td>[[ record.id ]]</td>
                <td>[[ record.code ]]</td>
                <td>[[ record.name ]]</td>
                <td>[[ record.description ]]</td>
                <td>[[ record.stock ]]</td>
                <td>[[ record.cost ]]</td>
                <td>[[ record.discontinued.date | dateString:"yyyy-MM-dd H:mm:s" ]]</td>
                <td><a href="/records/[[ record.id ]]">Edit</a> | <a ng-click="deleteRecord( record.id )" href="#">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <span class="counter pull-right">[[ filtered.length ]] items showed ([[ records.length ]] All)</span>
    </div>
</div>