{% if error %}
    <div class="container">
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
{% endif %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" placeholder="Username" />

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="_password" class="form-control" required="required" placeholder="Password" />

    <div class="checkbox">
        <label>
            <input type="checkbox" value="on"> Remember me
        </label>
    </div>
    <button id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>