<div class="container" ng-controller="EditRecordController">
    <div class="page-header">
        <h1>Edit record #[[ record.id ]]</h1>
    </div>

    {{ form_start(form, { 'method': 'POST', 'name': 'EditRecordForm', 'attr': {'class': 'edit-record-form', 'ng-submit': 'EditRecord(record)', 'novalidate': 'novalidate'} }) }}

    {{ form_errors(form) }}

    {{ form_row(form.code, { 'attr': { 'ng-model': 'record.code', 'ng-maxlength': 10, 'data-formName': 'EditRecordForm' } }) }}


    {{ form_row(form.name, { 'attr': { 'ng-model': 'record.name', 'ng-maxlength': 50, 'data-formName': 'EditRecordForm' } }) }}

    {{ form_row(form.description, { 'attr': { 'ng-model': 'record.description', 'ng-maxlength': 255, 'data-formName': 'EditRecordForm' } }) }}


    {{ form_row(form.stock, { 'attr': { 'ng-model': 'record.stock', 'min': 0, 'data-formName': 'EditRecordForm' } }) }}


    {{ form_row(form.cost, { 'attr': { 'ng-model': 'record.cost', 'min': 0, 'data-formName': 'EditRecordForm' } }) }}

    {{ form_widget(form.discontinued, { 'attr': { 'ng-model': 'record.discontinued', 'ng-model': 'record.discontinued' } }) }}

    {{ form_rest(form) }}

    <button ng-disabled="EditRecordForm.$invalid" type="submit" class="btn btn-primary">Save</button>

    {{ form_end(form) }}
</div>