body {
    padding-top: 50px;
}

.panel-heading .title {
    font-size: 24px;
}
.panel-heading .form-group {
    margin-bottom: 0;
}
th[ng-click] {
    cursor: pointer;
}

.counter {
    padding: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.user_info {
    padding: 10px 0;
    float: right;
}