<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Products import{% endblock %}</title>

    {% block styles %}
        <!-- STYLES -->
        <link rel="stylesheet" href="{{ asset( 'bundles/itransitionimportcsv/assets/css/bootstrap.min.css' ) }}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset( 'bundles/itransitionimportcsv/assets/css/style.css' ) }}">
        <!-- /STYLES -->
    {% endblock %}

    {% block scripts %}
        <!-- SCRIPTS -->
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/vendor/angular/angular.min.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/vendor/angular/angular-route.min.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/vendor/angular/angular-resource.min.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/vendor/ng-file-upload/ng-file-upload.min.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/vendor/ng-file-upload/ng-file-upload-shim.min.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/app.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/filters.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/models.js' ) }}"></script>
        <script src="{{ asset( 'bundles/itransitionimportcsv/assets/js/controllers.js' ) }}"></script>
        <!-- /SCRIPTS -->
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% block site_name %}Products import{% endblock %}</a>
        </div>

        {% block menu %}
            <div ng-controller="MenuController" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{ active: isActive('/')}"><a href="/">Show Data</a></li>
                    <li ng-class="{ active: isActive('/add')}"><a href="/add">Add record</a></li>
                    <li ng-class="{ active: isActive('/import-csv')}"><a href="/import-csv">Import csv</a></li>
                </ul>
            </div>
        {% endblock %}
    </div>
</div>

<div id="main" ng-controller="MainController">
    {% block user_info %}
        <div class="container">
            <div class="user_info">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Logged in as: {{ app.user.username }}
                    |
                    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                {% else %}
                    You are not authorized. Please <a href="{{ path('fos_user_security_login') }}">Sig In</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div ng-view></div>
    </div>
    {% endblock %}
</div>
</body>
</html>